@import url(https://fonts.google.com/specimen/Open+Sans);
@import url(https://fonts.google.com/specimen/Poppins);

:root {
    --main-background: hsl(257, 40%, 49%);
    --accent: hsl(300, 69%, 71%);
    --text-color: white;
    --heading-font: 'Poppins', sans-serif;
    --main-font: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-background);
    color: var(--text-color);
    max-width: 90vw;
    margin: 0 auto;
    height: 100vh;
    font-family: var(--main-font);
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    border: 2px dotted white;
}

header img {
    width: 150px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 200px);
    text-align: center;
}

.image-container {
    width: 100%;
    border: 1px dotted yellow;
    padding: 50px;
}

.img {
    width: 100%;
}

.text-container h1 {
    font-family: var(--heading-font);
    font-size: 1.7rem;
    line-height: 2.2rem;
    
}

.text-container p {
    font-size: 1.25rem;
    padding: 20px 0;
    border: 1px dotted yellow;
    line-height: 1.5rem;
}

footer {
    height: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: blue;
}

.social-icons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}