@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --main-background: hsl(257, 40%, 49%);
    --accent: hsl(300, 69%, 71%);
    --text-color: white;
    --heading-font: 'Poppins', sans-serif;
    --main-font: 'Open Sans', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-background);
    /* background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat; */
    color: var(--text-color);
    max-width: 80vw;
    margin: 0 auto;
    height: 100vh;
    font-family: var(--main-font);
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90px;
}

header img {
    width: 125px;
}

/* svg background */
.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 180px);
    text-align: center;
    padding-bottom: 10px;
}

.image-container {
    width: 100%;
    height: 100%;
}

.img {
    padding-top: 20px;
    max-width: 100%;
}

.text-container {
    width: 100%;
    height: 100%;
}
.text-container h1 {
    font-family: var(--para-font);
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.6px;
}

.text-container p {
    font-size: 1rem;
    padding: 20px 0;
    line-height: 1.5;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    color: var(--main-background);
    letter-spacing: 1.2;
    font-size: 1rem;
    background: white;
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

button:hover {
    background: var(--accent);
}

footer {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.social-icons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    display: inline-flex;
    justify-content: space-around;
}

span {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 1.2rem;
    padding: 15px;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    color: var(--accent);
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px){
    .image-container {
        flex: 1;
        height: 60%;
    }
    .text-container {
        height: 40%;
    }

    .text-container h1 {
        font-size: 2rem;
    }

    .text-container p {
        font-size: 1rem;
    }

    header img {
        width: 150px;
    }

    button {
        width: 225px;
        height: 55px;
        font-size: 1.1rem;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1024px){
    .background {
        display: none;
    }
   
    body {
        background: url(./images/bg-desktop.svg);
        background-color: var(--main-background);
        background-repeat: no-repeat;
        background-position:  center;
    }
    section {
        flex-direction: row;
        height: calc(100vh - 200px);
    }

    .image-container {
        flex: 0.6;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0.4;
        
        height: 100%;
    }

    .text-container {
        text-align: left;
        
    }

    .text-container h1 {
        font-size: 1.8rem;
    }

    .text-container p {
        font-size: 0.9rem;
    }

    .text-container {
        padding-left: 50px;
    }

    button {
        width: 215px;
        height: 50px;
    }

    footer {
        justify-content: flex-end;
        height: 75px;
        align-items: center;
    }

    header img {
        width: 200px;
    }

    header {
        height: 100px;
    }
}

@media screen and (min-width: 1200px){
    .text-container {
        padding-left: 40px;
    }

    body {
        max-width: 90vw;
    }

    section {
        height: (100vh - 200px);
    }

    .image-container {
        height: 100%;
    }

    .image-container img {
        padding-top: 30px;
    }
    .text-container {
        padding-left: 20px;
    }
    .text-container h1 {
        font-size: 2.6rem;
    }

    .text-container p {
        font-size: 1.0rem;
    }

    header img {
        width: 225px;
        padding-top: px;
    }

}

@media screen and (min-width: 1400px) {
    body {
        max-width: 1200px;
    }

    header img {
        width: 250px;
        padding-top: 50px;
    }

}

@media screen and (min-width: 1600px){
    body {
        max-width: 1400px;
    }
}